.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom right, #00aeef, #2d388a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
  font-weight: bolder;
}

.marquee2 span {
  animation-delay: -9s;
}

.scroll {
  width: 100vw;
}

.img-wrapper {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.img-mailbox {
  width: 300px;
  max-width: 18vw;
  aspect-ratio: 3/4;
  margin: 40px;
}

.card-back, .card-back-qr-code {
  width: 300px;
  max-width: 18vw;
  aspect-ratio: 3/4;
  margin: 40px;
  background-color: lightgrey;
  opacity: 0.5;
}

.card-back-qr-code {
  display: flex;
  align-items: center;
}

.card-back p {
  color: black;
  text-align: left;
}

.qr-code {
  width: 100%;
  aspect-ratio: 1;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
